# Number of Shipments Per Month

Write a query that will calculate the number of shipments per month. The unique key for one shipment is a combination of shipment_id and sub_id. Output the year_month in format YYYY-MM and the number of shipments in that month.

In [1]:
import pandas as pd

In [30]:
# Load and inspect the data
amazon_shipment = pd.read_csv("./number_shipments_month.csv")
amazon_shipment.head()

   shipment_id  sub_id  weight        shipment_date
0          101       1      10  2021-08-30 00:00:00
1          101       2      20  2021-09-01 00:00:00
2          101       3      10  2021-09-05 00:00:00
3          102       1      50  2021-09-02 00:00:00
4          103       1      25  2021-09-01 00:00:00

In [40]:
# Convert the date string to datetime object
amazon_shipment["shipment_date"] = pd.to_datetime(amazon_shipment["shipment_date"])

# Extract the year and the month from the datetime object
amazon_shipment["year_month"] = amazon_shipment.shipment_date.dt.to_period("M")

# Create a new column to contain a unique key value for each row (one shipment)
amazon_shipment["key"] = (
    amazon_shipment.shipment_id.astype(str) + "_" + amazon_shipment.sub_id.astype(str)
)

amazon_shipment.head()

   shipment_id  sub_id  weight shipment_date year_month    key
0          101       1      10    2021-08-30    2021-08  101_1
1          101       2      20    2021-09-01    2021-09  101_2
2          101       3      10    2021-09-05    2021-09  101_3
3          102       1      50    2021-09-02    2021-09  102_1
4          103       1      25    2021-09-01    2021-09  103_1

In [41]:
# Group by year and month
# The result is saved into a column named 'Count'
result = amazon_shipment.groupby(by=["year_month"]).count()["sub_id"].to_frame("count")

# Right now the index is the group, resetting the index will move the group column into a new one
result = result.reset_index()

result

  year_month  count
0    2021-08      3
1    2021-09      6